<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="chat.js"></script>
  <body ng-app="myApp" style="overflow: hidden">
    <div ng-controller="chatCtrl as chat">
      <div ng-hide="chat.online">
	<div class="container">
	  <form>
            <div class="form-group">
	      <label for="username">Username</label>
              <input ng-model="chat.user" class="form-control" placeholder="Username" id="username"/>
	      <label for="password">Password</label>
              <input type="password" ng-model="chat.pass" class="form-control" placeholder="Password" id="password" />
	      <br />
              <button type="submit" ng-click="chat.login()" class="btn btn-primary">Log in</button>
              <button ng-click="chat.register()" class="btn btn-outline-primary">Register</button>
              {{chat.error}}
	    </div>
          </form>
	</div>
      </div>
      <div ng-show="chat.online" class="container-fluid">
        <div class="row" style="height:90%">
          <div class="col-2">
            <div ng-repeat="channel in chat.channels" ng-class="chat.activechannel != channel[0] ? 'btn-outline-primary' : 'btn-primary'" ng-click="chat.activechannel = channel[0]" class="btn btn-block">
              {{channel[1]}}
            </div>
          </div>
          <div class="col-8" style="height:100%;overflow-y:scroll" id="chatbox">
            <div ng-repeat="message in chat.messages[chat.activechannel]">
              {{"[" + message.timestamp + "] " + message.user + ": " + message.message}}
            </div>
          </div>
          <div class="col-2" style="height:90%" id="usersBox">
            <h5>Admins</h5>
            <div ng-repeat="user in chat.users[chat.activechannel] | admins" >{{user.name}}</div>
            <h5>Members</h5>
					<div ng-repeat="user in chat.users[chat.activechannel] | members" >{{user.name}}</div>
				<h5>Invited</h5>
					<div ng-repeat="user in chat.users[chat.activechannel] | invitedUsers" >{{user.name}}</div>
				<h5>Banned</h5>
					<div ng-repeat="user in chat.users[chat.activechannel] | bannedUsers" >{{user.name}}</div>
				<form class="form-group col">
				<input class="col-2 form-control" ng-model="chat.message" />
				<button type="submit" ng-click="chat.inviteUser()" class="btn btn-primary col-2">Invite User</button>
				<button type="submit" ng-click="chat.banUser()" class="btn btn-primary col-2">Ban User</button>
				</form>
				
			</div>
        </div>
		<div class="row" style="height:10%">
			<div class="col-2" style="height:100%">
				<button class="btn btn-danger">Settings</button>
			</div>
			<div class="col-8" style="height:100%" >
	    <form class="form-group row">
            <input class="col-8 form-control" ng-model="chat.message" />
            <button type="submit" ng-click="chat.sendMessage()" class="btn btn-primary col-2">Send Message</button>
	    
            </form>
				</div>
				<div class="col-2" style="height:100%">
					<button ng-click="chat.logout()" class="btn btn-danger">Log Out</button>
				</div>				
			</div>
      </div>
    </div>
  </body>
</html>
